/****** colors ******/
:root {
  --red: #fd5c5c;
  --blue: #89daff;
  --orange: #fca311;
  --green: #4e937a;
  --purple: #afa2ff;

  --background: #121511;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  quotes: "\201c""\201d""\2018""\2019";
}

/****** card css ******/
:root {
  font-size: 16px;
}

/** word in sentence background color with outline */
span[style*="background-color: rgb(19, 19, 19)"] {
  padding: 3px 5px;
  margin: 0px 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  outline: #222 solid;
}

#mainDiv {
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  //outline: #222 solid;
}

#kanjiHover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win,
.mac,
.linux:not(.android) {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

body,
body.nightMode {
  font-family: Noto Sans JP, Hiragino Sans;
  ;
  font-size: 14px;
  text-align: center;
  color: white;
  background: var(--background);
}

img {
  width: auto;
  height: auto;
  max-width: min(960px, 100%);
  max-height: 350px;
  //border-radius: 10px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

a {
  color: inherit !important;
}

/* yomichan exports a lot of things as lists (pitch, dictionaries, freq lists), so this strips the formmating so it looks reasonable */
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: inline;
}

li {
  text-align: center;
  margin: 0rem;
  padding: 0.2rem;
  //background-color: #2727270;
  //outline: #222 solid;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(19, 19, 19, 1);
}

ul li {
  padding: 5px 10px;
  text-align: center;
  background-color: #2727270;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(19, 19, 19, 1);
}

/* changes the furigana pitch graphs to be red and spaced a bit nicer */
#word span {
  border-color: var(--red) !important;
  padding-top: 5px;
}

/* if there's more than one item in the reading field, only show the first one */
#word li:not(:first-child) {
  display: none;
}

#onlyWrd {
  display: flex;
  flex-direction: row;
}

#reading {
  font-size: 1.5rem;
  padding: 0rem 0.4rem 0rem 0.4rem;
  position: relative;
  top: 5px;
  //outline: #222 solid;
  background-color: #181819;
  border-radius: 6px;
  margin-bottom: 0.2rem;
}

#word {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: auto;
  padding: 0.4rem 0.4rem 0rem 0.4rem;
  outline: #222 solid;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#sentence {
  display: block;
  text-align: center;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  background-color: #161616;
  outline: #222 solid;
  border-radius: 10px;
  padding: 0.5rem 0.1rem 0.34rem 1.3rem;
  box-shadow: 0px 0px 5px 0px rgba(19, 19, 19, 1);
}

#definition {
  padding: 0.6rem 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #131313;
  outline: #222 solid;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(19, 19, 19, 1);
}

/* the highlighted word in the sentence */
.highlight,
.nightMode .highlight {
  color: var(--red);
  background-color: #171717;
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 0 3px;
  border-radius: 5px;
}

.audio {
  position: absolute;
  background-color: rgb(51, 51, 51, 0.3);
  border-radius: 6px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

.sentenceAudio {
  margin-left: 50px;
}

#centeredAudio {
  display: grid;
  place-items: center;
}

#centeredAudio .audio {
  position: static;
}

.audio circle {
  display: none;
}

.playImage path {
  fill: rgb(0, 0, 0, 1) !important;
  stroke: black !important;
}

/* changes the cursor to look like a hand when you hover a kanji with kanjihover enabled */
.kanjiHoverTarget {
  cursor: pointer;
}

#freq {
  font-size: 0.8rem;
  margin: 8px;
  margin-top: 1rem;
  left: 0px;
  right: 0px;
  display: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px;
}

/****** pitch graphs ******/
#pitchGraph {
  font-size: 0;
  /* we want to hide "no pitch accent data found" etc */
  color: var(--background);
  margin-top: 1rem;
}

#pitchGraph svg {
  font-size: 1rem;
}

circle {
  fill: #fff !important;
  stroke: #fff !important;
  stroke-width: 5 !important;
}

path {
  fill: none !important;
  stroke: #fff !important;
  stroke-width: 5 !important;
}

#pitchGraph li:nth-child(n+3) {
  display: none;
}

/****** mobile styling ******/
.mobile .card img {
  max-width: 100%;
  max-height: none;
}

.mobile .card {
  margin: 0.5em 0em;
  border-radius: 0px;
}

.mobile #content {
  margin: 0.5em 0em;
  border-radius: 0px;
}

.mobile #word {
  font-size: 2.5rem;
}

.mobile #sentence {
  min-width: 95%;
  border-radius: 0px;
}

.mobile #definition {
  border-radius: 0px;
}

.mobile .audio {
  border-radius: 0px 0px 6px 0px;
}

.mobile img {
  border-radius: 0px;
}

}

/***********************
OPTIONS FOR NSFW IMAGES

Option 1.) NSFW images display on desktop, but (nsfw) image is hidden on mobile (default)

Option 2.) NSFW images are blurred on both desktop and mobile, and can be viewed by hovering/tapping the image

Option 3.) NSFW images display on desktop, but are blurred on mobile (and can be viewed by tapping the image)

Option 1 is enabled by default, while options 2 and 3 are commented out. To use another option you need to uncomment the option you want (as well as comment out or delete option 1).

/* OPTION 1 */
.mobile .NSFW img:first-of-type {
  display: none;
}

.mobile .NSFW .audio {
  position: static;
}

/* OPTION 2
.NSFW img {
	filter: blur(30px);
	margin-bottom: 20px;
}

.NSFW img:hover {
  filter: blur(0px);
	margin-bottom: 20px;
}
*/

/* OPTION 3
.mobile .NSFW img {
  filter: blur(30px);
}

.mobile .NSFW img:hover {
  filter: blur(0px);
}
*/
